@font-face{
  font-family:'digital-clock-font';
  src: url('put_the_location_to_your_font.ttf or .otf');
 }
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0;
}

.title {
  align-items: center;
  color: rgb(47, 47, 49);
  text-align: center;
  font-size: xx-large;
  font-family: "Open Sans", serif;
  margin: 20px;
}

#clock {
  font-size: 80px;
  padding: 80px;
  background-color: black;
  color: rgb(8, 245, 245);
  width: 900px;
  margin: 150px;
  text-align: center;
  border: 2px solid black;
  font-family:'digital-clock-font';
  -moz-box-shadow:    3px 3px 5px 10px rgb(23, 172, 231);
  -webkit-box-shadow: 3px 3px 5px 10px rgb(11, 237, 245);
  box-shadow:         3px 3px 5px 10px rgb(11, 229, 236);
  
  
  font-family: "Open Sans", serif;
  align-items: center;
}
