@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0;
}

.title {
  align-items: center;
  color: rgb(47, 47, 49);
  text-align: center;
  font-size: x-large;
  font-family: "Open Sans", serif;
  margin: 20px;
}

#clock {
  font-size: 80px;
  width: 900px;
  margin: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  font-family: "Open Sans", serif;
  align-items: center;
}
